openapi: 3.0.1
info:
  title: Viam Rover Plugin
  description: Plugin for controlling your rover-based body in the physical world. You have access to a camera and two motorized wheels.
  version: 'v1'
servers:
  - url: https://rover.latticeanimal.com
paths:
  /move_forward:
    get:
      operationId: move_forward
      summary: Move forward by a specified amount
      parameters:
        - in: query
          name: distance_cm
          schema:
            type: integer
          description: How far you want to move forward in centimeters
      responses:
        "200":
          description: OK
  /move_backward:
    get:
      operationId: move_backward
      summary: Move backwards by a specified amount
      parameters:
        - in: query
          name: distance_cm
          schema:
            type: integer
          description: How far you want to move backwards in centimeters
      responses:
        "200":
          description: OK
  /rotate_left:
    get:
      operationId: rotate_left
      summary: Rotate to the left (in place)
      parameters:
        - in: query
          name: deg
          schema:
            type: integer
          description: number of degrees to rotate
      responses:
        "200":
          description: OK
  /rotate_right:
    get:
      operationId: rotate_right
      summary: Rotate to the right (in place)
      parameters:
        - in: query
          name: deg
          schema:
            type: integer
          description: number of degrees to rotate
      responses:
        "200":
          description: OK
